@import './sharedVariables.scss';
// Mobile Styling
@media (max-width: 768px) {
    .navbar {
        .navbar-collapse {
            background-color: #1D1C1E;
            padding: 0;
            .navbar-nav {
                padding: $navbar-Padding;
                .nav-item {
                    .nav-link {
                        color: white;
                    }
                }
            }
        }
    }   
}