@import './sharedVariables.scss';
// All styling

/* Navbar section */
.navbar {
    font-family: Jost;
    color: black;
    padding: 0.5rem 0;
    .navbar-header {
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding: 1rem $navbar-Padding;
        button {
            outline: none;
        }
    }
    img {
        width: 14rem;
        height: 2.5rem;
        margin: auto 0 !important;
    }
    h5 {
        font-family: Jost;
        font-size: .875rem;
    }
    .navbar-collapse {
        justify-content: flex-end;
        .navbar-nav {
            font-family: Jost, 'sans-serif';
            font-size: 1.5rem;
            .nav-item {
                .nav-link {
                    color: black;
                }
            }
        }
    }
}

.navitem {
    color: black;
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler .menu-btn {
    display: inline-block;
    cursor: pointer;
}

.navbar-toggler .menu-btn .bar1, .navbar-toggler .menu-btn .bar2, .navbar-toggler .menu-btn .bar3 {
    width: 28px;
    height: 5px;
    border-radius: 8px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar-toggler:not(.collapsed) .menu-btn .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.navbar-toggler:not(.collapsed) .menu-btn .bar2 {
    transform: translate(-50px);
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .menu-btn .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}


/* Tablet Nav Styling */
@import './Tablet.scss';

/* Mobile Nav Styling */
@import './Mobile.scss';